# adopted from https://github.com/MihailRis/VoxelEngine-Cpp
name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build_release:
    name: Build Release
    uses: ./.github/workflows/build.yml

  create_release:
    needs: build_release
    runs-on: ubuntu-latest
    steps:
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ github.ref }}
          name: ${{ github.sha }}
          draft: true
          prerelease: false
